
<h1 id = "game_details"><%= @game.title%></h1>
<br>
<img id="unavail" src='../assets/jf_letters_unavail.png'>
<br>
    <%if user_signed_in? %>
    <br>
        <%= button_to "Click here to write a review for #{@game.title}", new_game_review_path(@game), method: :get %>
        <%if Review.find_by(user_id: current_user.id) %>    
        <%end%>
    <%end%>

<h3 id="game_details">Average Rating:  </h3>
<h4 id = "game_details"> <%= @average_review %></h4>

<div>
    <% @game.genres.each do |genre| %>
    <h2 id= "game_details"><%="| #{genre.name} |"%> </h2>
    <% end %>
</div>

<div>
    <h2 id = "game_details">Available on the following platform(s):</h2>
    <br>
    <% @game.platforms.each do |platform| %>
    <h2 id= "game_details"> <%= "| #{platform.name} |" %> </h2>
    <% end %>
</div>
<br>
<div class ="row">

    <div id= "review_show_box">
    <h2 id ="game_details"><%= render @game.reviews %></h2>

    <%if user_signed_in? %>
            <% if @game.reviews.count == 0 %>
            <br>
            <br>
            <h3 id="game_details">Be the first the review this game!</h3>
            <br>
            <% end %>
            <br>
        <%if Review.find_by(user_id: current_user.id) %>    
        <%end%>
    <%end%>

    </div>
    <div id = "some_space">
    </div>
</div>