<!DOCTYPE html>
<html>
  <head>
    <title>GameReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class = "container">

        

        <div class = "navbar-header">
          <%= link_to 'All Games', games_path, class: "navbar-brand" %>
          
        </div>

        <ul class = "nav navbar-nav">
          
          
          <% if user_signed_in? %>
           <li>  <%= link_to current_user.email , games_path %>  </li>
           <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li>
           
          <%else%>
           <li> <%= link_to 'Log In', new_user_session_path %> </li>
           <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
          <% end %>
         
        </ul>

       

        <ul class = "nav navbar-nav navbar-right">
          <li class = "dropdown"> <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" role = "button" aria-expanded = "false"> Categories <span class = "caret"> </span></a> 
            <ul class = "dropdown-menu" role ="menu "> 
              <% Category.all.each do |category| %>
                <li>
                  <%= link_to category.genre, games_path(category: category.genre) %>
                </li>
              <%end%>
            </ul>
          </li>

          <%if user_signed_in?%>
          <li>  <%= link_to "Add Game", new_game_path(@game) %> </li>
          <%end%>
          
        </ul>

      </div>
    </nav>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
   
  </body>
</html>
